
<app-nav></app-nav>
<div class="grid-container">

<div class="card-container">
	<span class="pro">PRO</span>
	<img class="round" src="https://randomuser.me/api/portraits/women/79.jpg" alt="user" />
	<h3>Ricky Park</h3>
	<h6>New York</h6>
	<p>User interface designer and <br/> front-end developer</p>
	<div class="buttons">
		<button mat-stroked-button color="primary">Primary</button>
	
	</div>
	
</div>
<div class="grid-item">
    <app-activity></app-activity></div>
</div>
<Div class="caleneder"></Div>


