<div>
<nav class="navbar navbar-dark navbar-expand-lg fixed-top navbar-custom">
    <div class="container"><a class="navbar-brand" href="#">Squad in</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navbarResponsive"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" routerLink="/signup">Sign Up</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/login">Log In</a></li>
            </ul>
        </div>
    </div>
</nav>
</div>
<header class="masthead text-center text-white" style="background: url(&quot;assets/img/gentrit-sylejmani-JjUyjE-oEbM-unsplash.jpg&quot;) repeat;background-size: cover;">
    <div class="masthead-content">
        <div class="container" style="background: rgba(0,0,0,0.58);padding-bottom: 30px;padding-right: 17px;padding-top: 10px;border-radius: 20PX;">
            <h1 class="masthead-heading mb-0" style="color: rgb(255,255,255);font-family: Lato, sans-serif;">THE FUTURE OF SPORTS</h1>
            <h2 class="masthead-subheading mb-0" style="font-size: 31px;color: rgb(255,255,255);"><br>The platform to show case your talent as a sportsmen and get the perfect opportunity for yourself<br></h2><a class="btn btn-primary btn-xl rounded-pill mt-5" role="button" routerLink="/signup" style="background: rgb(27,9,238);border-width: 0;">Join now!</a></div>
    </div>
</header>
<section></section>
<section></section>
<section></section>
<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">FEATURES</h2>
            <p class="text-center">SHOWCASE YOUR TALENT THROUGH THIS PLATFORM</p>
        </div>
        <div class="row articles">
            <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/lars-bo-nielsen-Wu7hYE7Lzzs-unsplash.jpg" style="height: 231px;"></a>
                <h3 class="name">Trials</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
            <div
                class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/fitsum-admasu-oGv9xIl7DkY-unsplash.jpg"></a>
                <h3 class="name">Event calender</h3>
                <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
        <div
            class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/tyler-anderson--tdodgQ82Qk-unsplash.jpg"></a>
            <h3 class="name">Sell Equipments</h3>
            <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, interdum justo suscipit id.</p><a class="action" href="#"><i class="fa fa-arrow-circle-right"></i></a></div>
</div>
</div>
</div>
<div class="team-grid">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Team </h2>
        </div>
        <div class="row justify-content-center people">
            <div class="col-md-4 col-lg-3 item">
                <div class="box" style="background: url(&quot;assets/img/20190716_144643.jpg&quot;);background-size: cover;">
                    <div class="cover">
                        <h3 class="name">Sufiyan Shahid</h3>
                        <p class="title">Designer</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-lg-3 item" style="padding-right: -8px;">
                <div class="box" style="background: url(&quot;assets/img/Capture.jpg&quot;);background-size: cover;">
                    <div class="cover" style="padding: 80px;background: url(&quot;https://cdn.bootstrapstudio.io/placeholders/1400x800.png&quot;);">
                        <h3 class="name" style="width: 255px;height: 33px;">Rafi Samnani</h3>
                        <p class="title">Coder</p>
                        <div class="social"><a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="newsletter-subscribe">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Subscribe for our Newsletter</h2>
            <p class="text-center">Get the updates&nbsp;</p>
        </div>
        <form class="form-inline" method="post">
            <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Your Email"></div>
            <div class="form-group"><button class="btn btn-primary" type="submit">Subscribe </button></div>
        </form>
    </div>
</div>
<footer class="py-5 bg-black">
    <div class="container">
        <p class="text-center text-white m-0 small">Copyright&nbsp;© Brand 2020</p>
    </div>
</footer>