.container {
   height: 80vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#f3f2ef
  }
  .btn-create{
      width: 50%;
      /* background-color: rgb(121, 255, 248); */
  }
  
  
  mat-form-field{
    width: 50%;
  }